@using DoAnCoSo.Models
@using PagedList.Mvc;
@model PagedList.PagedList<PHIEUHEN>

@{
    ViewBag.Title = "Quản lý đặt lịch";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý đặt lịch</h2>

<p>
    @Html.ActionLink("Tạo mới Phiếu hẹn", "CreateBooking")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.HOTEN)*@
            Mã phiếu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HOTEN)*@
            Họ tên
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.GIOITINH)*@
            Giới tính
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NAMSINH)*@
            Năm sinh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DIACHI)*@
            Địa chỉ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SDT)*@
            Số điện thoại
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NGAYKHAM)*@
            Ngày khám
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.GIOKHAM)*@
            Giờ khám
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MOTA)*@
            Mô tả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MABS)*@
            Mã bác sĩ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MAXACTHUC)*@
            Mã xác thực
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TRANGTHAI)*@
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAPHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITINH)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.NAMSINH)*@
            @{
                var Str1 = item.NAMSINH.ToString("dd/MM/yyyy");
            }
            @Html.DisplayFor(modelItem => Str1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.NGAYKHAM)*@
            @{
                var Str = item.NGAYKHAM.ToString("dd/MM/yyyy");
            }
            @Html.DisplayFor(modelItem => Str)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOKHAM)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MABS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAXACTHUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAI)
        </td>
        <td>
            @Html.ActionLink("Nhận", "AcceptBooking", new { id = item.MAPHIEU }) |
            @Html.ActionLink("Sửa", "EditBooking", new { id = item.MAPHIEU }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.MAPHIEU }) |*@
            @Html.ActionLink("Xóa", "DeleteBooking", new { id = item.MAPHIEU })
        </td>
    </tr>
    }

</table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("BookingManager", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>