@model DoAnCoSo.Models.GIOKHAM

@{
    ViewBag.Title = "DeleteTime";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc muốn xóa giờ khám này chứ?</h3>
<div>
    <h4>Giờ khám</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MABS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MABS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOBDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOBDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOBDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOBDC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" name="btnDelete" class="btn btn-default" /> |
        @Html.ActionLink("Trở Về", "TimeManager")
    </div>
    }
</div>
